---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body data-editorial-class="{{ page.editorial_body_class | default: '' }}">

    <script>
      if (document.documentElement.getAttribute("data-site-variant") === "editorial") {
        document.body.className = document.body.getAttribute("data-editorial-class");
      }
    </script>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>

